/* This tag checks to make sure the file is being accessed 
on a device with a screen, and loads the appropriate picture based 
on the browser size */
@media screen and (min-width: 1200px) { 

	div.homer {

		background: url('homer.jpg') 0 0px;
		
		/* makes sure the picture is not repeated in tiles across screen */
		background-repeat: no-repeat;	

		/* sets the appropriate size based on original picture */	
		width: 166.5px;
		height:125px;  	
	}
}


@media screen and (min-width: 1100px) and (max-width:1200px) {

	div.homer {

		background:url('homer.jpg') -166.5px 0px;
		background-repeat: no-repeat;		
		width: 166.5px;
		height:125px;

	}
}

@media screen and (min-width: 1000px) and (max-width:1100px) {

	div.homer {

		background:url('homer.jpg') 0 -125px;
		background-repeat: no-repeat;
		width: 166.5px;
		height:125px;
		
	}
}

@media screen and (min-width: 900px) and (max-width:1000px) {

	div.homer {

		background:url('homer.jpg') -166.5px -125px;
		background-repeat: no-repeat;
		width: 166.5px;
		height:125px;
		
	}
}

@media screen and (min-width: 800px) and (max-width:900px) {

	div.homer {

		background:url('homer.jpg') 0 -250px;	
		background-repeat: no-repeat;	
		width: 166.5px;
		height:125px;
		
		
	}
}

@media screen and (min-width: 700px) and (max-width:800px) {

	div.homer {

		background:url('homer.jpg') -166.5px -250px;
		background-repeat: no-repeat;		
		width: 166.5px;
		height:125px;
		
	}
}

@media screen and (min-width: 600px) and (max-width:700px) {

	div.homer {

		background:url('homer.jpg') 0 -375px;
		background-repeat: no-repeat;
		width: 166.5px;
		height:125px;
		
	}
}

@media screen and (max-width:600px) {

	div.homer {

		background:url('homer.jpg') -166.5px -375px;
		background-repeat: no-repeat;
		width: 166.5px;
		height:125px;
		
	}
}
